h1 {
    background-color: orange;
    color: white;
}

p {
    background-color: peachpuff;
    color: green;
}

#display{
    background-color: green;
    float: left;
}

#wins{
    background-color: blue;
    float: left;
}

h2{
    background-color: dodgerblue;
}

#total{
    background-color: dodgerblue;
}